{% extends "base.html" %}

{% block content %}

<div class="intro">
    <p>
How to play?
Welcome to Wordle For All! Dive into this simple yet engaging word game. Your task? Guess the hidden word within the allotted attempts. Input your guesses and receive feedback on letter placement. But be strategic: refine your strategy with each attempt, surpass your friends’ scores, and climb the Leaderboard!
Wordle promotes vocabulary skills, critical thinking, and pure enjoyment. Feel free to customize the game settings to your liking. Wordle on, player!

    </p>
</div>

{% endblock %}