{% extends "base.html" %}


{% block head %}
<style>
    body {
        background-image: url('/project/static/images/signup.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}


{% block content %}
  <div class="intro">
    <p>
    Welcome to the enchanting world of Wordle, a place where language becomes a delightful adventure for all ages! At WordleForAll, we invite everyone, from eager young minds to seasoned word aficionados, to indulge in our daily brain-teasing puzzles. Our game is designed not just to challenge but to educate and inspire, expanding vocabularies and igniting imaginations across generations. It's a celebration of words where learning meets fun, creating a vibrant community of enthusiasts united by their love for wordplay. With new puzzles available daily, accessible from anywhere, prepare to embark on a linguistic journey that sharpens your mind and connects you with fellow word wizards around the globe!
    </p>
  </div>
  <!-- <a href="index"><button type="button" style="background-color: orange ;padding: 10px">Log In</button></a> -->
  <!-- <img src="{{ url_for('static',filename='images/home.png') }}"> -->
      <!-- <a href="index"> <button style="border-radius: 5px; padding: 5px; background-color: orange; cursor:pointer;">LogIn</button> </a> -->

{% endblock %}