<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">

  </head>
  <body>
    <div class="container">
      <h1>Welcome To Your DashBoard.
      </h1>
      <h1>
        <img src="https://media1.tenor.com/m/8tbLhifgyEEAAAAC/excited.gif" clas="my-gif" alt="work in progress" style="align-items: center;">
    </h1>
    </div>
  </body>
</html>